* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    min-width: 320px;
}

#root {
    background: linear-gradient(180deg, #262833 0%, #393B4D 100%);
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    &--favorites {
        display: none;
    }
}

.title__homePage {
    display: none;
}

.searchBar {
    margin-top: 2em;

    &__container {
        position: relative;
        padding: 4em 2em;

        &--input {
            width: 85%;
            border: 1px solid #000000;
            border-radius: 2rem;
            padding: 1em;

            &:hover {
                border-color: #FB3B64; // Cambia el color del borde en foco
                box-shadow: 0 0 5px rgba(241, 0, 0, 0.867); // Añade una sombra
                outline: none; // Elimina el borde de foco predeterminado

                cursor: default;
            }
        }

        &--iconGlass {
            position: absolute;
            top: 45%;
            left: 75%;
        }
    }
}

.photos {
    &--gallery {
        margin: auto;
        width: 80%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    &--container {
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
            z-index: 33;

            cursor: pointer;
        }
    }

    &--img {
        width: 100%;
        height: auto;


    }

    &--like {
        position: absolute;
        bottom: 10px;
        /* Ajusta según sea necesario */
        right: 10px;
        /* Ajusta según sea necesario */
        color: white;
        font-size: 1.5em;
        width: 10%;
        background-color: rgba(152, 42, 42, 0.8);
        /* Fondo semitransparente */
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(255, 0, 0, 0.948);
            /* Cambio de color en hover */
        }
    }
}

@media only screen and (min-width: 730px) {
    .searchBar__container--iconGlass {
        left: 80%;
    }
}

@media only screen and (min-width: 1100px) {

    .navBar {

        &--title {
            display: none;
        }

        &--menu {
            display: none;
        }

        &--favorites {
            display: inline-block;
            margin: 2em;
            border: 2px solid #FFFFFF;
            border-radius: 10px;

            &:hover {
                border: 2px solid #FB3B64;
                box-shadow: 0 0 5px rgba(241, 0, 0, 0.867);

                cursor: pointer;
            }
        }

    }

    .title__homePage {
        display: block;
    }

    .searchBar {
        display: flex;
        justify-content: center;

        &__container {
            width: 50%;

            &--input {
                font-size: 1.3rem;

                padding: 1em 2em;
                width: 100%;
                border: 1px solid #000000;
                border-radius: 2rem;
            }

            &--iconGlass {
                position: absolute;
                top: 45%;
                left: 90%;
            }
        }
    }

    .photos--gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}